@font-face {
	font-family: 'iconfont';
	src: url('/fonts/iconfont.eot');
	src: url('/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/iconfont.woff2') format('woff2'),
	url('/fonts/iconfont.woff') format('woff'),
	url('/fonts/iconfont.ttf') format('truetype'),
	url('/fonts/iconfont.svg#iconfont') format('svg');
	}
	@font-face {
		font-family: "iconfont"; /* Project id 3181030 */
		/* Color fonts */
		src: 
			 url('iconfont.woff2?t=1644770160604') format('woff2'),
			 url('iconfont.woff?t=1644770160604') format('woff'),
			 url('iconfont.ttf?t=1644770160604') format('truetype');
	  }
	  
	  .iconfont {
		font-family: "iconfont" !important;
		font-size: 16px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	  }
	  
	  .icon-dunpai:before {
		content: "\e607";
	  }
	  
	  .icon-pinglun:before {
		content: "\e642";
	  }
	  
	  .icon-youxi:before {
		content: "\e60e";
	  }
	  
	  .icon-liuyan:before {
		content: "\e835";
	  }
	  
	  .icon-liuyan1:before {
		content: "\e680";
	  }
	  
	  .icon-fenxiang:before {
		content: "\e68a";
	  }
	  
	  .icon-biaoqianpai:before {
		content: "\e60b";
	  }
	  
	  .icon-jishiben:before {
		content: "\e668";
	  }
	  
	  .icon-icon-sousuo:before {
		content: "\e688";
	  }
	  
	  .icon-anquanjiance:before {
		content: "\e690";
	  }
	  
	  .icon-sousuo1:before {
		content: "\e64a";
	  }
	  
	  .icon-tubiaozhizuomoban-:before {
		content: "\e608";
	  }
	  
	  .icon-pengyouquanwenzhang:before {
		content: "\e68b";
	  }
	  
	  .icon-CPshiyanshiICON_xingqiu-heibaifuben:before {
		content: "\e6a3";
	  }
	  
	  .icon-youxiji:before {
		content: "\e620";
	  }
	  
	  .icon-jita:before {
		content: "\e6a9";
	  }
	  
	  .icon-pengyouquan:before {
		content: "\e604";
	  }
	  
	  .icon-fenlei2:before {
		content: "\f24c";
	  }
	  
	  .icon-biaoqian:before {
		content: "\e6e2";
	  }
	  
	  .icon-wangyiyunyinle:before {
		content: "\e63c";
	  }
	  
	  .icon-jishiben1:before {
		content: "\eca8";
	  }
	  
	  .icon-shijian:before {
		content: "\ecaf";
	  }
	  
	  .icon-biaoqian1:before {
		content: "\fd9b";
	  }
	  
	  .icon-liuyan2:before {
		content: "\e619";
	  }
	  
	  .icon-a-fangzishouye:before {
		content: "\e63a";
	  }
	  
	  .icon-a-zhuyefangzijia:before {
		content: "\e86e";
	  }
	  
	  .icon-shubenkanshushujishu:before {
		content: "\e602";
	  }
	  
	  .icon-book-01:before {
		content: "\e734";
	  }	  
/* 导航栏居中 */
#navFn{
	flex:1;
	text-align: right;
	}
	#nav
	  #search-button{
		flex:1;
		display: inline;
		padding: 0 0 0 0.3rem ;
		position: relative;
		padding-bottom: 0.3rem;
		text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%);
		cursor: pointer;
	  }
	
	#darkmodeBt{
	flex:1;	
    display: inline;
    padding: 0 0 0 1rem; 
    position: relative;
    padding-bottom: 0.3rem;
    text-shadow: 0.05rem 0.05rem 0.1rem rgb(0 0 0 / 30%);
    font-size: 0.78em;
    cursor: pointer}

#page-header #nav {
	top:0!important
}
#nav.show {
	transform:translate3d(0,0,0)!important;
	position:fixed
}


#nav #site-name:after{
	font-family: 'iconfont';
	content: "\e680"
}
#page-header #nav a:not(.menus_item_child,.site-page.child) {
	border-radius:8px;
	padding:12px
}
#page-header #menus .menus_item_child,#page-header #menus .site-page.child {
	border-radius:8px
}
#page-header #site-name {
	border-radius:8px;
	padding:8px 12px;
	font-size:1rem;
}



#nav a,#post-info #post-meta,#post-info #post-meta a,#post-info .post-title {
	text-shadow:none!important
}
#nav #nav-right {
	position:absolute;
	right:0
}
#page-header #nav #nav-group {
	max-width:1200px;
	width:100%;
	display:inline;
	position:relative;
	margin:auto
}
#nav #nav-right #comment-button,#nav #nav-right #mode-button,#nav #nav-right #top-button {
	display:inline
}
#nav #menus .menus_item i,#nav #nav-right #mode-button i,#nav #nav-right #toggle-menu i {
	font-size:.9rem
}

#nav .menus_items .menus_item span {
	font-size:.8rem
}
#nav-group #blog_name a:hover,#page-header.nav-fixed #nav #toggle-menu:hover,#page-header.nav-fixed #nav a:hover,#page-header.not-top-img #nav #toggle-menu:hover,#page-header.not-top-img #nav a:hover {
	color:#F0F8FF!important;
	background-color:#FFA500;

}
#page-header #nav #toggle-menu:hover,#page-header #nav a:hover {
	color:#F0F8FF!important;
	background-color:#FFA500;

}
#nav .menus_items .menus_item .menus_item_child {
	padding:6px 8px;
	border-radius:8px
}
#nav .menus_items .menus_item .menus_item_child li:hover {
	border-radius:8px;
	background:0 0
}
#page-header #nav .menus_item_child a.site-page.child {
	padding:6px 8px
}
#nav .menus_items .menus_item .menus_item_child {
	padding:8px;
	border-radius:8px;
	right:-150px
}
#nav .menus_items .menus_item:hover .menus_item_child {
	display:flex
}






a {
	text-decoration: none!important
}
#page .flink-item-desc,#page .flink-item-desc:hover,#page .flink-item-name,#page .flink-item-name:hover {
	text-decoration: none
}
#page .flink-list-item {
	text-decoration: none!important;
	background: var(--link-bg)
}

/* 导航栏置顶透明覆盖 */
#page-header.not-top-img #nav {
    background: rgba(255,255,255,0);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0);
    box-shadow: 0 5px 6px -5px rgba(133,133,133,0)
}
/* 导航栏非置顶透明覆盖 */
#page-header.nav-fixed #nav {
 background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,.6);
    box-shadow: 0 5px 6px -5px rgba(133,133,133,.6);
}
/* 修改图片圆角 */
img[src*="#img-radius"] {
    border-radius: 9px;
}
/* 侧边栏圆角 */
#aside-content .card-widget {
border-radius: 25px;
}
/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
border-radius: 25px;
}
/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
border-radius: 25px;
}
/* 图片居右时卡片圆角 */
#recent-posts > .recent-post-item .right_radius {
	border-radius: 0px 25px 25px 0px;
	}
/* 图片居左时卡片圆角 */
#recent-posts > .recent-post-item .left_radius {
	border-radius: 25px 0px 0px 25px;
	}
/* 自适应宽度Mobile端卡片圆角 */		
@media screen and (max-width: 800px) {
    #recent-posts > .recent-post-item .right_radius {
		border-radius: 25px 25px 0px 0px;
		}
	#recent-posts > .recent-post-item .left_radius {
	    border-radius: 25px 25px 0px 0px;
	    }		
}	
/* github按钮圆角 */
#card-info-btn{
  border-radius: 25px;
  overflow: hidden}
#card-info-btn:before{
  border-radius: 25px
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
  margin-right: 4px;
  border-radius: 5px;
}
/* 翻页圆角 */
#pagination a.extend,
#pagination .page-number,
#pagination span {
	color: var(--font-color);
	background-color: var(--card-bg);
	border-radius: 8px;
	height: 1.6rem;
	text-align: center;
	line-height: 1.6rem;
	display: inline-block;
	min-width: 1.6rem;
}
/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
    border-radius: 8px;
}

/* 导航栏文字颜色设置 */
#page-header.not-top-img #nav a {
    color: #ffffff;
}
[data-theme="dark"]
  #page-header.not-top-img.nav-fixed #nav a {
    color: #ffffff;
  }

#page-header.not-top-img.nav-fixed #nav a {
    color: #000000;
}
/* 导航栏下划线去除 */
#nav .site-page:after {
	display: none;
}
svg.icon {
   width: 1em; height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: middle;
   fill: currentColor;
   overflow: hidden;
   font-size: 25px;
    /* 控制图标大小*/
}

/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

#content-inner.layout h1::before {
    color: #5ec1e0 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #5ec1e0 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}

#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 3.2s linear infinite ;
    animation: ccc 3.2s linear infinite ;
}

/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite ;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

h1#site-title {
    font-family: cursive
}

span#subtitle {
    font-family: cursive
}

span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif

}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif

}

a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif

}

div#footer-wrap {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Lato, Roboto, "PingFang SC", "STZhongsong", "Lantinghei SC", sans-serif
}

.image-caption{
    display: none
}

/* H1~H6变动 */

/* 哔哩哔哩 */
#aside-content .card-info #card-info-btn span::before{
	font-family: 'iconfont';
	content: "\e601";
	vertical-align: middle;
	position: relative;
	left:-10px;
	font-size: 20px
}
/* 哔哩哔哩 */

[data-theme="dark"]
  #post .post-copyright {
    background-color: rgb(7 8 10);
    text-shadow: #bfbeb8 1px 0 4px;
  }
[data-theme="dark"]
  #post .post-copyright {
    border: 1px solid rgb(19 18 18 / 35%);
  }
[data-theme="dark"]
  .post-copyright-info {
    color: #e0e0e4;
  }
#post .post-copyright__title{
    font-size:22px;
}
#post .post-copyright__notice{
    font-size:15px;
}
