@font-face {
  font-family: "iconfont"; /* Project id 3181030 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1644895800066') format('woff2'),
       url('iconfont.woff?t=1644895800066') format('woff'),
       url('iconfont.ttf?t=1644895800066') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-copy:before {
  content: "\e601";
}

.icon-dunpai:before {
  content: "\e607";
}

.icon-pinglun:before {
  content: "\e642";
}

.icon-youxi:before {
  content: "\e60e";
}

.icon-liuyan:before {
  content: "\e835";
}

.icon-liuyan1:before {
  content: "\e680";
}

.icon-fenxiang:before {
  content: "\e68a";
}

.icon-biaoqianpai:before {
  content: "\e60b";
}

.icon-jishiben:before {
  content: "\e668";
}

.icon-icon-sousuo:before {
  content: "\e688";
}

.icon-anquanjiance:before {
  content: "\e690";
}

.icon-sousuo1:before {
  content: "\e64a";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e608";
}

.icon-pengyouquanwenzhang:before {
  content: "\e68b";
}

.icon-CPshiyanshiICON_xingqiu-heibaifuben:before {
  content: "\e6a3";
}

.icon-youxiji:before {
  content: "\e620";
}

.icon-jita:before {
  content: "\e6a9";
}

.icon-pengyouquan:before {
  content: "\e604";
}

.icon-fenlei2:before {
  content: "\f24c";
}

.icon-biaoqian:before {
  content: "\e6e2";
}

.icon-wangyiyunyinle:before {
  content: "\e63c";
}

.icon-jishiben1:before {
  content: "\eca8";
}

.icon-shijian:before {
  content: "\ecaf";
}

.icon-biaoqian1:before {
  content: "\fd9b";
}

.icon-liuyan2:before {
  content: "\e619";
}

.icon-a-fangzishouye:before {
  content: "\e63a";
}

.icon-a-zhuyefangzijia:before {
  content: "\e86e";
}

.icon-shubenkanshushujishu:before {
  content: "\e602";
}

.icon-book-01:before {
  content: "\e734";
}

